@{
    ViewBag.Title = "Contact";
}

<div id="biaoti">
    <p>Contact us</p>
</div>


<div class="SaveProduct1">
    <img src="~/picture/Savekuang.png" alt="Savekuang" class="imageSave12">
    <img src="~/picture/liangxi.jpg" alt="Save" class="imageSave21">
    <div class="textOnImage111">

        <p>Welcome to our embroidery culture network, please leave your valuable comments to share your ideas and experiences with us！</p>
        <p>This is our E-mail:</p>
        <p><a href="mailto:1293871845@qq.com">Email: 1293871845@qq.com</a></p>
    </div>
</div>



